@font-face {
    font-family: 'iconfont';  /* Project id 2522973 */
    src: url('//at.alicdn.com/t/font_2522973_1f1700garzr.woff2?t=1623304831826') format('woff2'),
    url('//at.alicdn.com/t/font_2522973_1f1700garzr.woff?t=1623304831826') format('woff'),
    url('//at.alicdn.com/t/font_2522973_1f1700garzr.ttf?t=1623304831826') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
